select{width: 14em;
    	margin: 0 1em;
    	text-indent: 1em;
    	line-height: 2em;}

select * {width: 14em;
	height: 10px;
    	padding: 0 1em;
    	text-indent: 0;
    	line-height: 2em;}
body{
	font-size:24;
	font-family:"Helvetica";
	font-weight:Bold;
	color: #7ACC7A;
}

div{
	 width: 900px ;
  margin-left: auto ;
  margin-right: auto ;
}

body{
    background-image: url("http://img13.deviantart.net/799d/i/2011/093/b/c/soft_blue_gradient_by_davidm147-d3d5p44.jpg");
    background-size: 1440px 900px;
    background-repeat: no-repeat;
}
